#synapse-container h3 {
	font-size: 16px;
	padding: 0;
	margin: 8px;
	color: #bababa;
}
#synapse-container h4 {
	font-size: 14px;
	font-weight: bold;
	margin-left: 52px;
}
#synapse-container .frame {
	background: #fff url('public/resources/images/icons/Tango/48/mimetypes/archive.png') no-repeat 2px 14px scroll;
	height: 160px;
	margin: 8px 12px;
}
#synapse-container .frame p {
	margin-bottom: 8px;
	margin-left: 52px;
	margin-right: 12px;
}
.hidden {
	display: none;
}