#config-container {
	width: 100%;
}
#config-container table tr td {
	padding: 4px 8px;
}
#config-container .helptext {
	padding: 8px;
	color: #9c9c9c;
	margin-top: 12px;
	font-style: italic;
}
#regional img {
	margin: 8px 16px;
	border: 1px solid #b6bccc;
}
#config-container h3 {
	font-size: 16px;
	padding: 0;
	margin: 8px;
	color: #bababa;
}
	.tab-content .frame {
		height: 386px;
	}