.login {
	position: absolute;
	color: #000000;
	left: 50%;
	width: 220px;
	top: 50%;
	margin-top: -130px;
	margin-left: -110px;
	z-index: 200;
	text-shadow: 0 0 5px #ffffff;
}
.login-section {
	margin-bottom: 2px;
}
#login-content1, #login-form1 {
	padding: 8px 8px 8px 14px;
}
.login label {
	display: block;
}
.login input[type=password], .login input[type=text] {
	width: 92%;
	margin: 4px 0;
}
.login select {
	width: 97%;
	margin: 4px 0;
}
.login-loading1, .login-loading1 img, #login-submit1 {
	float: left;
}
.login-loading1 {
	margin: 8px 8px 0;
}
#login-submit1 {
	margin: 4px 0;
}
#login-submit1-div {
	padding: 0 6px;
}
#login-logo {
	background: #8dcefd url('?res=app://login/shell/images/login-logo.png') no-repeat right scroll;
	height: 40px;
}
#login-needhelp {
	float: right;
	margin: 6px 0;
}
#login-notice {
	position: absolute;
	font-size: 9px;
	padding: 4px;
	margin-left: 192px;
	margin-top: -44px;
	width: 170px;
	text-align: left;
	background: #ffffff;
	border: 1px solid #7f7f7f;
	border-left: 0;
}