.instance {
	top: 38px;
	left: auto;
	right: 2px;
}
.instance .titlebar .icon {
	display: none;
}
.instance .icons .icon .item {
	float: left;
	padding: 0 !important;
	margin: 8px;
	text-align: center;
	border: 1px solid transparent;
	text-align: center;
	word-wrap: break-word;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
}
.instance .icons .icon .icon-inner { 
	border: 1px solid transparent;
	padding: 4px;
	width: 64px;
}
.instance h3 {
	font-size: 16px;
	padding: 0;
	margin: 8px 8px 0;
	color: #bababa;
}
.instance .frame {
	margin: 4px;
	padding: 4px;
	padding-right: 0;
	border: 1px solid #b6bccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	overflow: auto;
}
.instance .active_instance td {
	padding: 4px;
}