#desktop-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    -moz-user-select: -moz-none;
	-webkit-user-select: none;
	overflow: hidden;
}
#icon-screen {
	position: absolute;
	top: 64px;
	left: 24px;
	bottom: 0;
	right: 0;
}
	.desktop-icons .icon, .instance .icon {
		height: 80px;
		clear: both;
	}
	.desktop-icons .item, .instance .item {
		/*position: absolute;*/
		float: left;
		padding: 0 !important;
		margin-right: 8px;
		text-align: center;
		border: 1px solid transparent;
		text-align: center;
		word-wrap: break-word;
		-moz-border-radius: 8px;
		-webkit-border-radius: 8px;
		-khtml-border-radius: 8px;
	}
	.desktop-icons .item .icon-inner, .instance .item .icon-inner { 
		border: 1px solid transparent;
		padding: 4px;
		width: 64px;
	}
		.desktop-icons  .item:hover .icon-inner, .instance .item:hover .icon-inner, .desktop-icons  .item:active .icon-inner { 
			border: 1px solid rgba(255, 255, 255, 0.4);
			border-top: 1px solid rgba(255, 255, 255, 0.7);
			-moz-border-radius: 7px;
			-webkit-border-radius: 7px;
			-khtml-border-radius: 7px;
		}
		.desktop-icons  .item:hover, .instance .item:hover, .desktop-icons  .item.selected, .instance .item.selected {
			border: 1px solid rgba(0, 0, 0, 0.4);
			background: url('?res=app://desktop/shell/images/icon-hover.png') repeat-x bottom left scroll;
			-moz-box-shadow: 0 0 5px #c0c0c0;
			-webkit-box-shadow: 0 0 5px #c0c0c0;
		}
		.desktop-icons  .item.selected:hover, .desktop-icons  .item:active, .instance .item:active, .instance .item.selected:active {
			border: 1px solid rgba(0, 0, 0, 0.7);
		}
		.desktop-icons  .item:active, .instance .item:active {
			background: url('?res=app://desktop/shell/images/icon-click.png') repeat-x top left scroll;
		}
		.desktop-icons  a, .instance  a {
			text-shadow: 0 0 2px #000000;
			color: #ffffff;
		}
		.desktop-icons  a img, .instance  a img{
			display: block;
			margin: 0 AUTO;
			width: 32px;
		}
#nimbusbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: url('?res=app://desktop/shell/images/nimbusbar.png') repeat-x top left scroll;
	border-bottom: 1px solid #000000;
	border-top: 1px solid #4c4c4c;
	color: #fff;
	z-index: 700;
	-moz-box-shadow: 0 0 24px #000000;
	-webkit-box-shadow: 0 0 24px #000000;
}
#nimbusbar .inner {
	height: 32px;
}
	#nimbusbar-user, #nimbusbar-menu, #nimbusbar-taskbar-div {
		float: left;
	}
	#nimbusbar-user {
		background: transparent url('?res=img://icons/Silk/bullet_arrow_down.png') no-repeat 95% center scroll;
	}
		#nimbusbar-user a.userbutton {
			display: block;
			padding: 7px 24px 7px 32px;
			font-size: 12px;
			color: #ffffff;
			text-shadow: 0 -1px 0 #000000;
			background: transparent url('?res=app://desktop/shell/images/not-social.png') no-repeat 12px 8px scroll;
			border-right: 1px solid rgba(255, 255, 255, 0.2);
		}
		#nimbusbar-user-container {
			position: absolute;
			display: none;
			z-index: 680;
		}
			#nimbusbar-user-container ul {
				border: 1px solid #000000;
				border-left: 0;
				/*-moz-box-shadow: 0 0 24px #000000;
				-webkit-box-shadow: 0 0 24px #000000;*/
			}
			#nimbusbar-user-container li {
				padding: 1px;
				background: rgba(255, 255, 255, 0.9);
			}
			#nimbusbar-user-container li.separator span {
				display: block;
				background: transparent url('?res=app://desktop/shell/images/usermenudivider.png') repeat-x top left scroll;
				height: 2px;
				border: 0;
				margin-left: 32px;
				margin-right: 2px;
			}
				#nimbusbar-user-container li a {
					display: block;
					margin: 1px;
					border: 1px solid transparent;
					color: #000000;
					text-shadow: 0 1px 0 #ffffff;
				}
				#nimbusbar-user-container li a span {
					display: block;
					padding: 2px 16px 2px 32px;
					border: 1px solid transparent;
				}
				#nimbusbar-user-container li a:hover {
					background-color: rgba(255, 255, 255, 0.3);
					border: 1px solid rgba(0, 102, 204, 0.4);
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					-khtml-border-radius: 3px;
				}
				#nimbusbar-user-container li a:hover span {
					border: 1px solid rgba(255, 255, 255, 0.5);
					border-bottom: 1px solid transparent;
					-moz-border-radius: 2px;
					-webkit-border-radius: 2px;
					-khtml-border-radius: 2px;
				}
				#usermenusetstatus {
					background: transparent url('?res=app://desktop/shell/images/not-social.png') no-repeat 4px 4px scroll;
				}
				#usermenulockscreen {
					background: transparent url('?res=img://icons/Tango/16/actions/media-playback-pause.png') no-repeat 4px 4px scroll;
				}
				#usermenulogoff {
					background: transparent url('?res=img://icons/Tango/16/actions/system-shutdown.png') no-repeat 4px 4px scroll;
				}
				#usermenupersonalize {
					background: transparent url('?res=img://icons/Tango/16/apps/preferences-desktop-wallpaper.png') no-repeat 4px 4px scroll;
				}
				#usermenupersonal {
					background: transparent url('?res=img://icons/Tango/16/actions/contact-new.png') no-repeat 4px 4px scroll;
				}
				#usermenuconfiguserpermissions {
					background: transparent url('?res=img://icons/Tango/16/apps/system-users.png') no-repeat 4px 4px scroll;
				}
				#usermenuattachexternal {
					background: transparent url('?res=img://icons/Tango/16/status/mail-attachment.png') no-repeat 4px 4px scroll;
				}
				#usermenulogintomessenger {
					background: transparent url('?res=img://icons/Tango/16/apps/internet-group-chat.png') no-repeat 4px 4px scroll;
				}
				#usermenucheckmail {
					background: transparent url('?res=img://icons/Tango/16/apps/internet-mail.png') no-repeat 4px 4px scroll;
				}
				#usermenulivenews {
					background: transparent url('?res=img://icons/Tango/16/apps/internet-news-reader.png') no-repeat 4px 4px scroll;
				}
	#nimbusbar-menu a#thebutton {
		display: block;
		height: 32px;
		width: 100px;		
		background: rgba(0, 0, 0, 0.2) url('?res=app://desktop/shell/images/nimbusbutton.png') no-repeat center 1px scroll;
		border-left: 1px solid rgba(0, 0, 0, 0.2);
		border-right: 1px solid rgba(0, 0, 0, 0.2);
	}
		#nimbusbar-user a:hover, #nimbusbar-user a.active {
			background-color: rgba(0, 0, 0, 0.3);
		}
		#nimbusbar-menu a#thebutton:hover {
			background-color: rgba(0, 0, 0, 0.5);
			border-left: 1px solid rgba(0, 0, 0, 0.4);
			border-right: 1px solid rgba(0, 0, 0, 0.4);
			-moz-box-shadow: 0 0 24px #000000;
			-webkit-box-shadow: 0 0 24px #000000;
		}
	#nimbusbar-taskbar-div {
		height: 32px;
		border-left: 1px solid rgba(255, 255, 255, 0.2);
		width: 1px;		
	}
	#nimbusbar-taskbar {
		float: right;
		min-width: 584px;
	}
		#nimbusbar-taskbar-controllall, #nimbusbar-taskbar-noinstances, #nimbusbar-taskbar .item {
			float: right;
		}
		#nimbusbar-taskbar-controllall {
			background: url('?res=app://desktop/shell/images/nimbusbar.png') repeat-x top left scroll;
			margin: 2px;
			margin-left: 8px;
			border: 1px solid rgba(0, 0, 0, 0.7);
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			-khtml-border-radius: 6px;
		}
		#nimbusbar-taskbar-controllall a {
			display: block;
			height: 24px;
			width: 24px;
			background: transparent url('?res=img://icons/Silk/application_add.png') no-repeat 4px center scroll;
			border: 1px solid rgba(255, 255, 255, 0.2);
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			-khtml-border-radius: 5px;
		}
			#nimbusbar-taskbar-controllall a:hover {
				background-color: rgba(255, 255, 255, 0.5);
				-moz-box-shadow: 0 0 12px #000000;
				-webkit-box-shadow: 0 0 12px #000000;
			}
		#nimbusbar-taskbar-noinstances {
			background: transparent url('?res=img://icons/Silk/bullet_go.png') no-repeat center right scroll;
			padding: 7px 20px 6px 8px;
			margin-right: -4px;
			color: #000000;
		}
		#nimbusbar-taskbar .item {
			margin: 2px 1px;
			border: 1px solid rgba(0, 0, 0, 0.7);
			background: url('?res=app://desktop/shell/images/nimbusbar.png') repeat-x top left scroll;
			-moz-border-radius: 6px;
			-webkit-border-radius: 6px;
			-khtml-border-radius: 6px;
		}
			#nimbusbar-taskbar .item a {
				display: block;
				font-size: 11px;
				min-height: 24px;
				min-width: 24px;
				border: 1px solid rgba(255, 255, 255, 0.2);
				background: transparent url('?res=img://icons/Silk/application.png') no-repeat 4px 4px scroll;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-khtml-border-radius: 5px;
			}
			#nimbusbar-taskbar .item a span {
				display: none;
			}
			#nimbusbar-taskbar .item:hover a span { 
				display: block;
				padding: 4px 8px 2px 24px;
				color: #000000;
				text-shadow: 0 0 4px #ffffff;
			}
		#nimbusbar-taskbar .item.active {
			/*border-bottom: 0;*/
			margin-bottom: 0;
		}
			#nimbusbar-taskbar .item.active, #nimbusbar-taskbar .item.active a {
				/*-moz-border-radius-bottomleft: 0;
				-moz-border-radius-bottomright: 0;
				-webkit-border-bottom-left-radius: 0;
				-webkit-border-bottom-right-radius: 0;
				-khtml-border-radius-bottomleft: 0;
				-khtml-border-radius-bottomright: 0;*/
			}
			#nimbusbar-taskbar .item.active a span {
				display: block;
				padding: 4px 16px 2px 28px;
				/*padding: 5px 16px 6px 28px;*/
			}
			#nimbusbar-taskbar .item.active a {
				display: block;
				font-size: 11px;
				border: 1px solid rgba(255, 255, 255, 0.2);
				background: transparent url('?res=img://icons/Silk/application.png') no-repeat 6px 4px scroll;
				color: #000000;
				text-shadow: 0 0 4px #ffffff;
				/*border-bottom: 0;*/
			}
			#nimbusbar-taskbar .item.active a:hover {
				background-color: rgba(255, 255, 255, 0.3);
				border: 1px solid rgba(255, 255, 255, 0.6);
				/*border-bottom: 0;*/
			}
#nimbus-watermark {
	position: absolute;
	text-align: right;
	right: 0;
	bottom: 0;
	padding: 8px;
	text-shadow: 0 1px 0 #000000;
	color: #fff;
	font-size: 90%;
}
#loading-container-desktop {
	position: absolute;
	display: none;
	color: #ffffff;
	background: #000000 url('/public/resources/images/loading.gif') no-repeat 6px 8px scroll;
	left: 8px;
	bottom: 8px;
	padding: 8px;
	padding-left: 30px;
}
#nimbus-tray {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
}
	#nimbus-tray .item a {
		display: block;
		float: left;
		width: 24px;
		height: 24px;
		background: transparent url('?res=img://icons/Silk/application.png') no-repeat 6px 6px scroll;
	}
#nimbusbar-menu-container {
	display: none;
	position: absolute;
	top: 32px;
	margin-left: -1px;
	z-index: 700;
	border-top: 0;
	-moz-border-radius-bottomleft: 3px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-khtml-border-radius-bottomleft: 3px;
	-khtml-border-radius-bottomright: 3px;
	color: #ffffff;
}
	#nimbusbar-menu-container .inner {
		-moz-border-radius-bottomleft: 2px;
		-moz-border-radius-bottomright: 2px;
		-webkit-border-bottom-left-radius: 2px;
		-webkit-border-bottom-right-radius: 2px;
		-khtml-border-radius-bottomleft: 2px;
		-khtml-border-radius-bottomright: 2px;
	}
		#nimbusbar-menu-container .item.header {
			padding: 8px;
			color: #000000;
			font-style: italic;
			font-size: 16px;
		}
		#nimbusbar-menu-container ul {
			border: 1px solid #000000;
			border-left: 0;
			/*-moz-box-shadow: 0 0 24px #000000;
			-webkit-box-shadow: 0 0 24px #000000;*/
		}
		#nimbusbar-menu-container li {
			padding: 1px;
			background: rgba(255, 255, 255, 0.9);
		}
		#nimbusbar-menu-container li.separator span {
			display: block;
			background: transparent url('?res=app://desktop/shell/images/usermenudivider.png') repeat-x top left scroll;
			height: 2px;
			border: 0;
			margin-left: 32px;
			margin-right: 2px;
		}
			#nimbusbar-menu-container li a {
				display: block;
				margin: 1px;
				border: 1px solid transparent;
				color: #000000;
				text-shadow: 0 1px 0 #ffffff;
			}
			#nimbusbar-menu-container li a span {
				display: block;
				padding: 2px 16px 2px 32px;
				border: 1px solid transparent;
			}
			#nimbusbar-menu-container li a:hover {
				background-color: rgba(255, 255, 255, 0.3);
				border: 1px solid rgba(0, 102, 204, 0.4);
				-moz-border-radius: 3px;
				-webkit-border-radius: 3px;
				-khtml-border-radius: 3px;
			}
			#nimbusbar-menu-container li a:hover span {
				border: 1px solid rgba(255, 255, 255, 0.5);
				border-bottom: 1px solid transparent;
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px;
				-khtml-border-radius: 2px;
			}
				#texteditor-icon {
					background: transparent url('?res=img://icons/Tango/16/apps/accessories-text-editor.png') no-repeat 4px 4px scroll;
				}
				#calculator-icon {
					background: transparent url('?res=img://icons/Tango/16/apps/accessories-calculator.png') no-repeat 4px 4px scroll;
				}
				#calendar-icon {
					background: transparent url('?res=img://icons/Tango/16/apps/office-calendar.png') no-repeat 4px 4px scroll;
				}
				#terminal-icon {
					background: transparent url('?res=img://icons/Tango/16/apps/utilities-terminal.png') no-repeat 4px 4px scroll;
				}
				#config-icon {
					background: transparent url('?res=img://icons/Tango/16/categories/applications-system.png') no-repeat 4px 4px scroll;
				}
				#usermanager-icon {
					background: transparent url('?res=img://icons/Tango/16/apps/system-users.png') no-repeat 4px 4px scroll;
				}
				#instance-icon {
					background: transparent url('?res=img://icons/Tango/16/apps/utilities-system-monitor.png') no-repeat 4px 4px scroll;
				}